body {
  background-color: black;
  color: white;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

button {
  height: 50px;
  width: 200px;
  border-radius: 25px;
}
